body {
  background-image: url("https://image.freepik.com/free-vector/music-player-neon-sign_1262-15625.jpg");
 }

.contri{
  display: flex;
  color: #ffffff;
  background-color: #6887ff;
  justify-content: center;
  
}

.usn {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #a8b5e3 5%, #6886ff 100%);
	background-color:#a8b5e3;
	border-radius:6px;
	border:1px solid #6886ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2879c9;
}
.usn:hover {
	background:linear-gradient(to bottom, #6886ff 5%, #a8b5e3 100%);
	background-color:#6886ff;
}
.usn:active {
	position:relative;
	top:1px;
}

.card-title{
  color: #6887ff;
}

.card{
  display: inline-block;
  height:auto;
  width:40%;
}

.main{
  display: flex;
  flex-direction: column; 
  margin: 0px 450px;
  width: 75%;
  justify-content: center;
}